# LuCI 中文界面配置
config core 'main'
	option lang 'zh_cn'
	option mediaurlbase '/luci-static/bootstrap'
	option resourcebase '/luci-static/resources'

config extern 'flash_keep'
	option uci '/etc/config/'
	option dropbear '/etc/dropbear/'
	option openvpn '/etc/openvpn/'
	option passwd '/etc/passwd'
	option group '/etc/group'
	option shadow '/etc/shadow'
	option gshadow '/etc/gshadow'
	option fstab '/etc/config/fstab'
	option dhcp '/etc/config/dhcp'
	option dropbear '/etc/config/dropbear'
	option firewall '/etc/config/firewall'
	option network '/etc/config/network'
	option system '/etc/config/system'
	option wireless '/etc/config/wireless'
	option luci '/etc/config/luci'
	option cups '/etc/config/cups'

config internal 'languages'
	option zh_cn '中文(简体)'

config internal 'sauth'
	option sessionpath '/tmp/luci-sessions'
	option sessiontime '3600'

config internal 'ccache'
	option enable '1'

config internal 'themes'
	option Bootstrap '/luci-static/bootstrap'

config internal 'apply'
	option rollback '30'
	option holdoff '4'
	option timeout '5'
	option display '1.5'
